{% load static %}
<html>
	<Head>
		<title>My Blog</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	</Head>

	<Body>
		<div class="page-header">
		<h1><a href="/">My Bloggie</a></h1>
		</div>
		<div>
		<p>{{ posts }} </p>
		</div>
	
		<div class="content container">
		<div class="row">
			<div class="col-md-8">
				{% block content %}
            {% endblock %}
			</div>
		</div>
	</div>
	</Body>
</html>
