<html>
	<Head>
		<title>My Blog</title>
	</Head>

	<Body>
		<div>
			<h1><a ref="/">First Placeholder</a></h1>
		</div>

		<div>
			<p>published: 14.06.2014, 12:14</p>
			<h2><a ref="">Second Placeholder</a></h2>
			<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		</div>

		<div>
			<p>published: 14.06.2014, 12:14</p>
			<h3><a ref="">Third Placeholder</a></h3>
			<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		</div>
	
	</Body>
</html>
